

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(237, 197, 255, 0.315);
}

.back:hover {
    color: rgb(173, 1, 30);
}

.wrapper {
    margin-top: 50px;
}

.image {
    margin-bottom: 25px;
}

.title {
    font-size: 36px;
    margin-bottom: 25px;
}

.text {
    margin-bottom: 25px;
}

.subtitle {
    font-size: 28px;
}

.additional {
    margin-bottom: 50px;
}